* {
    box-sizing: border-box;
  }
  body{
      background-color: #ffffff;
      font-family: Trispace;
  }
  input[type=number]{
    width: 100%;
    padding: 6px;
    border: 1px solid #399fec;
    border-radius: 4px;
    resize: vertical;
    font-size: 19px;
  }
  input[type=number]:hover{
    border: 1px solid #5035e9;
    box-shadow: 0 0 10px #719ECE;
  }
  input[type=number]:focus{
    border: 1px solid #0415aa;
    box-shadow: 0 0 10px #719ECE;
  }
  .heading{
    text-align: center;
    color: rgb(0, 0, 0);
    /* text-shadow: 8px 8px 0px #18283b;  */
    }
  .msg{
    text-align: center;
    color: black;
    font-size: 24px;

  }
  .back{
    z-index: 2;
  }
  .footer {
    font-size: 20px;
    font-weight: bold;
    color: rgb(62, 62, 62);
    padding: 5% 0;  
    text-align: center;
    font-family: Trispace;
    /* text-shadow: 8px 8px 9px #18283b;  */
}
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    color: #399fec;
    font-size: 22px;
  }
  button[type=button] {
    background-color: #0415aa;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
  }
  
  button[type=button]:hover {
    background-color: #1609c7ef;
    box-shadow: 0 0 10px #719ECE;
  }
  .container {
    z-index: -1;
    background-color: white;
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 20px;
    border: 5px solid black;
    box-shadow: 10px 10px 0px #000000;
  }
  .container:hover {
    box-shadow: 15px 15px 0px #000000;
    transition: all 0.3s;
    transform: translate(-5px, -5px);

  }
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media only screen and (max-width: 1250px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  @media only screen and (max-width: 980) {
    .footer{
      display: none;
    }
  }